* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.secondary {
  color: #e19e03;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

@-webkit-keyframes marginUp {
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes marginUp {
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@-webkit-keyframes slideLeft {
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes slideLeft {
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes slideRight {
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes slideRight {
  100% {
    opacity: 1;
    right: 0;
  }
}

@-webkit-keyframes up {
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes up {
  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes overlay {
  0% {
    left: 1000px;
  }
  100% {
    left: 0;
  }
}

@keyframes overlay {
  0% {
    left: 1000px;
  }
  100% {
    left: 0;
  }
}

.projects #project {
  color: white;
  cursor: default;
}

.projects-title {
  text-align: center;
}

.projects-title h2 {
  border-bottom: 2px solid #e19e03;
  width: 120px;
  padding-bottom: 4px;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  top: -160px;
}

.projects-title p {
  color: #555555;
  text-decoration: none;
  margin: 10px 0 30px 0;
}

.projects-title p span {
  margin: 5px;
  padding: 15px;
  cursor: pointer;
}

.projects-title p span:hover {
  font-weight: 500;
}

.projects-title .current {
  font-weight: 500;
  color: black;
}

.projects-container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.projects-container-row {
  width: 90%;
  margin: 10px auto;
}

.projects-container-row img {
  position: relative;
  width: 100%;
  background: #dadada;
  padding: 5px;
  border-radius: 10px;
}

.projects-container-row:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.projects-container .left {
  opacity: 0;
  position: relative;
  left: -1600px;
}

.projects-container .right {
  opacity: 0;
  position: relative;
  right: -1600px;
}

.projects p {
  text-align: center;
  color: grey;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: black;
  border-radius: 10px;
}

.overlay a {
  border: 1px solid white;
  color: white;
  font-weight: 500;
  cursor: pointer;
  width: 50%;
  margin: 5px 0;
  padding: 10px 5px;
  border-radius: 10px;
}

.overlay a:hover {
  opacity: 0.8;
  background: white;
  color: black;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.overlay i {
  font-size: 14px;
}

.projects-container-row:hover .overlay {
  opacity: 0.9;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 58, 58, 0.9)), to(rgba(58, 58, 58, 0.9))), url("../img/background.png");
  background: linear-gradient(rgba(58, 58, 58, 0.9), rgba(58, 58, 58, 0.9)), url("../img/background.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-text {
  text-align: center;
  width: 70%;
}

header .header-text p {
  color: #d1d1d1;
  margin: 0;
}

header .header-text h1 {
  font-size: 42px;
  color: #8d8d8d;
  opacity: 0;
  margin-top: 120px;
  -webkit-animation: 1s ease-in-out marginUp forwards;
          animation: 1s ease-in-out marginUp forwards;
}

header .header-icons {
  margin-top: 20px;
  font-size: 24px;
}

header .header-icons a {
  color: #232323;
  margin: 3px;
}

header .header-icons a:hover {
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  color: #e19e03;
}

header #img {
  text-align: center;
}

header #img img {
  color: white;
  position: relative;
  top: 30vh;
  width: 80px;
}

header #img img:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.4;
}

.about {
  text-align: center;
  width: 85%;
  padding: 20px;
  margin: 50px auto;
  position: relative;
  left: -1400px;
}

.about h2 {
  color: #e19e03;
  font-size: 28px;
}

.about p {
  color: #525252;
}

.about a {
  text-decoration: none;
}

.about a:hover p,
.about a:hover i {
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  color: #e19e03;
}

.about .cv {
  color: #a0a0a0;
}

.about .cv i {
  color: #666666;
  margin: 3px;
}

.services {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/servicesBackground.png");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/servicesBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 50px 10px 80px 10px;
  margin: 70px 0;
}

.services-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  opacity: 0;
  position: relative;
  top: 80px;
}

.services-img img {
  width: 60px;
  height: 60px;
  margin: 5px;
}

.services p {
  opacity: 0;
  position: relative;
  top: 80px;
  color: white;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 17px;
}

fieldset {
  border: 0;
}

.contactusColor {
  background: whitesmoke;
  padding: 20px 0;
  margin-top: 40px;
}

.contactUs {
  width: 65%;
  margin: 0 auto;
}

.contactUs input,
.contactUs textarea {
  border: 0;
  background: #dbdbdb;
  margin: 5px 0;
  padding: 15px;
  width: 100%;
  border-radius: 7px;
}

.contactUs textarea {
  height: 160px;
  wfont-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contactUs input[type='submit'] {
  background: #c88c03;
  font-size: 18px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.contactUs input[type='submit']:hover {
  opacity: 0.7;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.contactTitle h2 {
  text-align: center;
  margin: 20px;
  color: #e19e03;
}

@media (min-width: 769px) {
  header .header-text {
    text-align: left;
  }
  header .header-text h1 {
    font-size: 55px;
  }
  .about {
    padding: 60px 0;
    width: 70%;
    text-align: left;
  }
  .services img {
    width: 80px;
    height: 80px;
  }
  .services p {
    width: 500px;
    margin: 30px auto;
    font-size: 19px;
  }
  .projects-container-row {
    width: 70%;
  }
  .contactUs {
    width: 500px;
  }
}

@media (min-width: 1000px) {
  .projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 950px;
    margin: 0 auto;
  }
  .projects-container-row {
    width: 40%;
  }
  .projects-container-row img {
    width: 100%;
    margin: 0 5px;
  }
  .projects-container-row-title p {
    margin: 20px 0;
  }
}

@media (min-width: 1150px) {
  header .header-text {
    width: 700px;
  }
  .about {
    width: 700px;
  }
}

@media (min-width: 1250px) {
  .projects-container-row {
    width: 450px;
  }
}

@media (min-width: 1400px) {
  header .header-text h1 {
    font-size: 64px;
  }
  p {
    font-size: 18px;
  }
  h2 {
    font-size: 28px;
  }
  .contactusColor {
    margin-top: 100px;
    padding: 60px 0;
  }
}
/*# sourceMappingURL=style.css.map */