$primary-color: #8f8f8f;
$secondary-color: #e19e03;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.secondary {
  color: $secondary-color;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

@mixin image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@mixin text {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

@keyframes marginUp {
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes slideLeft {
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes slideRight {
  100% {
    opacity: 1;
    right: 0;
  }
}
@keyframes up {
  100% {
    opacity: 1;
    top: 0;
  }
}
