@media (min-width: 769px) {
  header {
    .header-text {
      text-align: left;
      h1 {
        font-size: 55px;
      }
    }
  }
  .about {
    padding: 60px 0;
    width: 70%;
    text-align: left;
  }
  .services {
    img {
      width: 80px;
      height: 80px;
    }
    p {
      width: 500px;
      margin: 30px auto;
      font-size: 19px;
    }
  }
  .projects-container-row {
    width: 70%;
  }
  .contactUs {
    width: 500px;
  }
}

@media (min-width: 1000px) {
  .projects {
    &-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      width: 950px;
      margin: 0 auto;
      &-row {
        width: 40%;
        img {
          width: 100%;
          margin: 0 5px;
        }
        &-title {
          p {
            margin: 20px 0;
          }
        }
      }
    }
  }
}

@media (min-width: 1150px) {
  header {
    .header-text {
      width: 700px;
    }
  }
  .about {
    width: 700px;
  }
}

@media (min-width: 1250px) {
  .projects-container-row {
    width: 450px;
  }
}

@media (min-width: 1400px) {
  header {
    .header-text {
      h1 {
        font-size: 64px;
      }
    }
  }
  p {
    font-size: 18px;
  }
  h2 {
    font-size: 28px;
  }
  .contactusColor {
    margin-top: 100px;
    padding: 60px 0;
  }
}
